
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.input {
    width: 40%;
    position: relative;
    display: flex;
    margin: 0 auto;
}
.search {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    position: relative;
}
form{
    width: 100%;
}

.searchTerm {
    width: 100%;
    border: 5px solid #2881e7;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #606060;
    transition-duration: 0.4s;
}

.searchTerm:focus{
    color: #050505;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 3px solid #2881e7;
    background: #2881e7;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.4s;
}
.searchButton:hover {
    border: 5px solid #2881e7;
    background: #ffffff;
    color: #2881e7;

}
.searchButton:disabled,
.searchButton[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
#search:hover{
    border: 3px solid #2881e7;

}

#search:disabled,
#search[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.content{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;

}


/*======================== loading animation CSS =================================*/

.dots-9 {

    display: none;
    margin: 0 auto;
    width:12px;
    height:12px;
    animation:d9-0 2s infinite steps(2);
}
.dots-9::before,
.dots-9::after {
    content:"";
    position: absolute;
    inset:0;
    border-radius:50%;
    background:#2881e7;
}
.dots-9::before {
    box-shadow: 24px 0 #2881e7;
    transform:translateX(-24px);
    animation:d9-1 1s infinite linear alternate;
}
.dots-9::after {
    transform:translateX(12px) rotate(0deg) translateX(12px);
    animation:d9-2 1s infinite linear alternate;
}
@keyframes d9-0 {
    0% ,49.9% {transform:scale(1)}
    50%,100%{transform:scale(-1)}
}
@keyframes d9-1 {
    100%{box-shadow: 48px 0 #2881e7}
}
@keyframes d9-2 {
    100%{transform:translateX(12px) rotate(-180deg) translateX(12px)}
}


/*====================== suggestions divs CSS ===========================*/

.suggestionContainer{
    text-align:center
 }
.suggestions {
    background-color: rgba(38, 169, 116, 0.8);
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
    color:black;
    border-radius: 30px;
}


.suggestions:hover {
    background-color: rgba(38, 169, 116, 0.43);
}

.suggestionsMovie {
    background-color: rgba(38, 130, 169, 0.8);
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
    color:black;
    border-radius: 30px;
}


.suggestionsMovie:hover {
    background-color: rgba(38, 130, 169, 0.61);
}


.suggestionsUnsplash {
    background-color: rgba(251, 206, 59, 0.72);
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
    color:black;
    border-radius: 30px;
}


.suggestionsUnsplash:hover {
    background-color: rgba(251, 206, 59, 0.51);
}

